numpy
pandas
requests
scikit-learn
matplotlib
seaborn
jupyter
xgboost
lightgbm
autopytorch
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability