numpy
pandas
requests
scikit-learn
matplotlib
seaborn
jupyter
xgboost
lightgbm
autopytorch
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability